{% extends "base.html" %}

{% block title%} Crea Corso {{username_admin}}{% endblock %}

{% block sidebar %}{% endblock %}

{% block content%}
<main>
<section class="container-fluid bg-info-subtle py-5">
  <div class="container py-5">
    <div class="row align-items-center">
        <span class="badge bg-info text-warning mb-3 px-3 py-2 fs-6"><h1 class="fw-xl"> Crea un nuovo corso </h1></span>
      <div class="col-md-6 mb-4 mb-md-0">
        <img src="static/assets/media/class.jpg" alt="Corsi nuovi" class="w-100 rounded-3 shadow">
      </div>
      <div class="col-md-6 ps-md-5">
        <form action="/createcourse" method="POST">
            <label for="corso"> Nome del corso nuovo: </label> 
                <input type="text" class="form-control d-flex-row" placeholder="Nome del corso nuovo" aria-label="Nome del corso nuovo" aria-describedby="button-addon2" name="corso">
            <br>
            <label for="categoria"> Categoria del corso: </label> 
                <input type="text" class="form-control d-flex-row" placeholder="Categoria" aria-label="Categoria" aria-describedby="button-addon2" name="categoria">
            <br>
            <label for="descrizione"> Descrizione del corso: </label>
                <input type="text" class="form-control d-flex-row" placeholder="Descrizione nuovo corso" aria-label="Descrizione" aria-describedby="button-addon2" nome="descrizione">
            <br>
            <label for="durata_giorni"> Durata del corso: </label> 
                <input type="number" class="form-control d-flex-row" placeholder="Durata in giorni" aria-label="durata del corso"  aria-describedby="button-addon2" name="number_participants">
            <br>
            <button class="btn btn-outline-secondary bg-info text-warning"  id="button-addon2">Invia</button>
            <button type="reset" class="btn btn-outline-secondary bg-info text-warning"  id="button-addon2">Cancella</button>
            <br>
            <section class="container-fluid">
                    <div class="row align-items-center">
                        <section class="formRow mb-3 d-flex justify-content-center p-0">
                            <label for="genere">Prezzo:</label>
                            <select class="form-control" name="prezzario" required id="prezzario">
                                <option value="149.99">149.99</option>
                                <option value="199.99">199.99</option>
                                <option value="299.99">299.99</option>
                                <option value="349.99">349.99</option>
                                <option value="399.99">
                                    399.99
                                </option>
                                <option value="449.99">449.99</option>
                                <option value="499.99">499.99</option>
                                <option value="Personalizzabile">Personalizzabile</option>
                            </select>
                        </section>
        </form>
    </div>
</section>
</main>
{% endblock %}